
.spacer {
    height: 100px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .card-body {
    
        padding: 10px;
        background-color: #fff;
        flex: 1;                /* new */
    
 }
 a {
     color: #264653ff;;
 }

 .card:hover {
    display: block;
    transition: 500ms;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-color: #e76f51ff;
  
    

 }


 .row {
     flex-wrap: wrap;
 }