<div class="container">
    <h1><strong>Areas of Expertise</strong></h1>
    <div class="row">
        <div class="col-md-3" *ngFor='let expertise of expertises; let i = index' >
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{expertise.name}}</h5>
                  <p class="card-text"> {{ expertise.description }}.</p>
                 
                </div>
              </div>



               
            </div>

        </div>

    </div>
