
.spacer {
    height: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 a {
     color: #264653ff;;
 }

 .card:hover {
    background: rgb(141, 141, 141);
    display: block;
    transition: 2000ms;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-color: #e76f51ff;
  
    

 }

 a:hover {
    color: rgb(255, 255, 255);;
}
