
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand">
          <img src="images/logo.svg" height="28" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
              <a routerLink="home" class="nav-item nav-link active">Home</a>
              <a routerLink="expertise" class="nav-item nav-link">Expertise</a>
              <a routerLink="team" class="nav-item nav-link">Team</a>
              <a routerLink="contact" class="nav-item nav-link" >Contact</a>
          </div>
        
      </div>
  </nav>