/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400&family=Maven+Pro&family=Molengo&family=Varela&display=swap');

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Molengo', sans-serif;
font-family: 'Varela', sans-serif; */

body, html {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    
}

h1 {
    text-align: center;
    /* font-family: 'Maven Pro', sans-serif; */
}

/* html, body {
    height: 100%;
} */

/* html {
    display: table;
    margin: auto;
} */

/* body {
    display: table-cell;
    vertical-align: middle;
} */

.spacer {
    height: 80px;
}



/* --charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff; */


button:hover{
    border-color: #e76f51ff;
    background-color: #e76f51ff;
}

button {
    border-color: #264653ff;
    background-color: #264653ff;
    color: white;
  }