<!-- <div class="spacer"></div> -->

<div class="hero">

    <div class = "heroContents">

    <p> Counsel for good</p>
</div>

</div>


<div class="success">
    <div class="container">

        <div class="row">
            <div class="col-sm">

                <h1> Who we are</h1>

                <p> Tito and Associates Advocates is a law office in Nairobi Upperhill area
                    addressing several legal needs. <br> We are a collaborative group, each driven by </p>


            </div>

            <div class="col-sm">


            </div>
        </div>
    </div>


</div>
<hr>
<div class="services">

    <h1>Areas we cover</h1>
</div>
<hr>
<div class="why">
    <h1> What sets us apart</h1>

</div>