<!-- <div class="spacer"></div> -->
<div class="heroImage">


    <div class="heroContents">

        <h1>Tito & Associates</h1>
        <p> We welcome you to professional and time proven Legal Services</p>

        <a href="/expertise"><button class="aboutButton">Read More </button></a>

    </div>

</div>


<div class="success">
    <div class="container">

        <div class="row">
            <div class="col-sm">

                <h3> Who we are</h3>

                <p> Tito and Associates Advocates is a law office in Nairobi Upperhill area
                    addressing several legal needs. <br> We are a collaborative group, each driven by </p>


            </div>

            <div class="col-sm">


            </div>
        </div>
    </div>


</div>
<hr>
<div class="services">

    <h3>Areas we cover</h3>
</div>
<hr>
<div class="why">
    <h3> What sets us apart</h3>

</div>