<!-- <div class="spacer"></div> -->
<div class="heroImage">
    <div class="herOverlay">


        <div class="heroContents">

            <p>Tito & Associates  welcome you to professional and time proven Legal Services</p> 
            <a href="/expertise"><button class="btn btn-outline-info btn-lg" >Read More </button></a>

        </div>
    </div>

</div>

<hr>

<div class="success">
    <div class="container">

        <!-- <div class="row"> -->
            <!-- <div class="col-sm"> -->

                <h3> Who we are</h3>

                <p>Tito & Associates, Advocates is a bespoke firm providing specialist legal services to 
                    corporate, commercial, banking & financial, Governmental, Parastatals, public and personal clients, 
                    offering client focused value adding solutions and advice.</p>
          

            <!-- </div> -->

            <!-- <div class="col-sm"> -->


            <!-- </div> -->
        <!-- </div> -->
    </div>


</div>
<hr>
<div class="services">

    <h3>Areas we cover</h3>
</div>
<hr>
<div class="why">
    <h3> What sets us apart</h3>

</div>